<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		  http://www.springframework.org/schema/beans/spring-beans.xsd
		  http://www.springframework.org/schema/tx
		  http://www.springframework.org/schema/tx/spring-tx.xsd
		  http://www.springframework.org/schema/aop
		  http://www.springframework.org/schema/aop/spring-aop.xsd
	      http://www.springframework.org/schema/context
	  	  http://www.springframework.org/schema/context/spring-context.xsd
    	  http://www.springframework.org/schema/mvc 
    	  http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd -->
	<!--<mvc:resources mapping="/static/**" location="/static/" />-->

	<!-- 视图解释类 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	</bean>

	<!-- 处理文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSizePerFile" value="167772160" />
	</bean>

	<!-- 默认的注解映射的支持 ,它会自动注册DefaultAnnotationHandlerMapping 与AnnotationMethodHandlerAdapter -->
	<mvc:annotation-driven />

	<mvc:resources mapping="/resources/**" location="/resources/" cache-period="31556926"/>


	<!--<bean id="messageSource"-->
		  <!--class="org.springframework.context.support.ResourceBundleMessageSource">-->
		<!--<property name="basenames">-->
			<!--<list>-->
				<!--<value>Messages</value>-->
				<!--<value>Pages</value>-->
				<!--<value>Validators</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!-- 自定义拦截 -->
	<!--<mvc:interceptors>-->
		<!--&lt;!&ndash; 危险提交 &ndash;&gt;-->
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/**" />-->
			<!--<mvc:exclude-mapping path="/static/**" />-->
			<!--<mvc:exclude-mapping path="/mobile/**" />-->
			<!--<bean class="com.ymhy.interceptor.IllegalInterceptor" />-->
		<!--</mvc:interceptor>-->
		<!--&lt;!&ndash; 权限 &ndash;&gt;-->
		<!--<mvc:interceptor> -->
			<!--<mvc:mapping path="/**" /> -->
			<!--<mvc:exclude-mapping path="/static/**" /> -->
			<!--<mvc:exclude-mapping path="/login/**" />-->
			<!--<mvc:exclude-mapping path="/mobile/login/**" />  -->
			<!--<mvc:exclude-mapping path="**/login" /> -->
			<!--<bean class="com.ymhy.interceptor.AimsInterceptor" /> -->
		<!--</mvc:interceptor>-->
		<!--&lt;!&ndash; 日志 &ndash;&gt;-->
		<!--&lt;!&ndash;<mvc:interceptor> <mvc:mapping path="/**" /> <mvc:exclude-mapping path="/static/**" -->
			<!--/> <bean class="com.ymhy.interceptor.LogInterceptor" /> </mvc:interceptor> &ndash;&gt;-->
		<!--&lt;!&ndash; 私有 &ndash;&gt;-->
		<!--&lt;!&ndash; <mvc:interceptor> <mvc:mapping path="/**" /> <mvc:exclude-mapping -->
			<!--path="/static/**" /> <bean class="com.ymhy.interceptor.OmsInterceptor" /> -->
			<!--</mvc:interceptor> &ndash;&gt;-->
	<!--</mvc:interceptors>-->

	<!--<bean id="passport" class="com.ymhy.Passport">-->
		<!--<property name="loginUrl" value="/aims/login" />-->
		<!--<property name="errorUrl" value="/aims/error400" />-->
		<!--<property name="cookieName" value="ymhy" />-->
		<!--<property name="timeout" value="3600" />-->
		<!--<property name="moduleId" value="aims" />-->
		<!--<property name="moduleName" value="投入品监管系统" />-->
	<!--</bean>-->
	<!-- 第一步: 创建自定义日期转换规则 -->
	<bean id="dateConvert" class="cn.mh.util.DateConvert" />

	<!-- 第二步： 创建convertion-Service ，并注入dateConvert -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="dateConvert" />
			</set>
		</property>
	</bean>
	<!-- 第三步：注册处理器映射器/处理器适配器 ，添加conversion-service属性 -->
	<mvc:annotation-driven conversion-service="conversionService" />
</beans>